@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

.nav-container div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    font-size: 16px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    font-size: 16px;
}
.
.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    font-size: 16px;
}
.header-container{
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    background-color: #d3eae1;
    border-radius: 20px;
    padding: 60px 40px;
}
.header-h1{
    display: flex;
    flex-direction: column;
}
.header-enroll{
    color: #007a33;
    border-width: 1px;
    border-color: #007a33;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.header-pic{
    display: flex;
    flex:2;
    align-items: right;
    object-fit: cover;
    width: 300px;
    height: 300px;
}